.contents {
	border-top: solid 1px #000000;
}
.bgblack {
	background-color: #ffffff;
	color: #000000;
}
.only_disp {
	visibility: hidden;
	display: none;
}
.only_print {
	visibility: visible;
	display: inline;
}
#fixedarea {
	position: absolute;
}
